.layout{
  height: 100%;
  border: 1px solid #d7dde4;
  background: #f5f7f9;
}
.layout-logo{
  width: 100px;
  height: 30px;
  background: #5b6270;
  border-radius: 3px;
  float: left;
  position: relative;
  top: 15px;
  left: 20px;
}
.layout-nav{
  width: 420px;
  margin: 0 auto;
}
.layout-assistant{
  width: 300px;
  margin: 0 auto;
  height: inherit;
}
.layout-breadcrumb{
  padding: 10px 15px 0;
}
.layout-content{
  min-height: 200px;
  padding: 15px;
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
}
.layout-content-main{
  padding: 10px;
}
.layout-copy{
  text-align: center;
  padding: 10px 0 20px;
  color: #9ea7b4;
}

.layout-row,
.layout-menu-left,
.layout-menu-left ul
{
  height: 100%;
}

.ivu-menu-submenu-title{
  //font-weight: 600;
  letter-spacing: 1px;
  font-size: 16px !important;
}

.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu){
  font-weight: 600;
  letter-spacing: 1px;
  color: #2d8cf0;
  border-right: 4px solid #2d8cf0;
  z-index: 2;
}

.ivu-menu a{
  color: #80848f;
}


.layout-logo-left{
  height: 60px;
  background-color: #495060;
  text-align: center;
}

.layout-logo-left h1{
  float: left;
  margin: 0;
  padding: 0;
  height: 60px;
  line-height: 60px;
  text-align: center;

  color: #fff;
}

.layout-logo-left .sys-icon{
  float: left;
  margin-left: 36px;
  margin-right: 16px;
  width: 36px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./../static/images/footprint_icon.png");;
}


.layout-user-info{
  height: 60px;
  line-height: 60px;
  float: right;
  color: #fff;
}


.layout-header{
  height: 60px;
  background-color: #495060;
}
