.stats-count{
  margin: 15px;
  width: 200px;
  height: 80px;

  border-radius: 4px;

  background:-moz-linear-gradient(top, #1dff94, #19be6b);
  background:-webkit-gradient(linear, 0 0, 0 bottom, from(#1cfd91), to(#19be6b));
}


.stats-count h4{
  padding: 10px;
  padding-bottom: 5px;
  font-size: 12px;
  height:30px;
  color: #fff;
  text-align: center;
}

.stats-count h4 span{
  margin-left: 5px;
}

.stats-count h1{
  padding: 0 10px;
  text-align: center;
  height:50px;
  line-height: 50px;
  color: #fff;
}
